<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
    <header class="header">
        <div class="header-inner">
            <div class="header-title">
                <div class="blog-logo">
                    <img src="../static/img/blog.jpg" alt="blog" width="114px">
                    <h2>Официальный блог Google Россия</h2>
                </div>
                <div class="header-foot">
                    Новости, объявления и полезные советы от российского офиса Google
                </div>
            </div>
        </div>
        <hr>
    </header>
    <main class="main">
        <div class="main-inner">
            <div class="main-news">
                <div class="news-title">
                    <h2>Заголовок статьи, блога, новости</h2>
                </div>
                    <div class="news-date">
                        <span class="news-publish-date">7 сентября 2022 г.</span>
                    </div>
                <div class="news-content">
                    <span class="author"><i>Воробьев Александр, продюссер Up-X</i></span>
                    <p class="content">
                        <span>
                            Миллиарды людей во всем мире заходят на YouTube по самым разным причинам,
                            например, чтобы посмотреть редкую запись концерта или обучающее видео.
                            На платформе собрано невероятное количество материалов под любой запрос —
                            и все благодаря тому, что в основе всех наших решений и разработок лежит намерение
                            защищать интересы сообщества.
                        </span>
                    </p>
                    <p class="content">
                        <span>
                            Я планирую несколько раз в год рассказывать вам о том, как команда YouTube  решает
                            сложные задачи и какие компромиссы стоят за этим процессом. В последующих письмах
                            мы можем изучить такие темы как разработка политики YouTube, или обсудить острые вопросы
                            и ответственность в целом. Но в этом первом письме я хочу рассказать больше о нашей текущей
                            работе по борьбе с потенциально опасной ложной информацией на YouTube.
                        </span>
                    </p>
                    <p class="content">
                        <span>
                            Последние пять лет мы активно инвестируем в поддержку четырех принципов корпоративной ответственности:
                            быстро удаляем недопустимые материалы с помощью сочетания технологий машинного обучения и человеческих
                            ресурсов, сдерживаем распространение сомнительного контента, продвигаем авторитетные источники информации
                            и поощряем добросовестных авторов. С помощью этих ключевых инструментов нам удалось сократить число просмотров
                            нежелательных видео и при этом сохранить открытость платформы. Однако в связи с тем, что ложная информация
                            стала появляться и распространяться быстрее, чем когда-либо, нам предстоит модернизировать наш подход.
                            Ниже мы расскажем о трех задачах, которые предстоит решить команде в ближайшем будущем.
                        </span>
                    </p>
                </div>
            </div>
            <nav class="main-nav">
                <div class="nav-search">
                    <input type="search" id="site-search" name="search" placeholder="Поиск на сайте">
                    <button class="search-img">
                    <img src="../static/img/search.png" alt="search" width="20px">
                    </button>
                </div>
                <div class="nav-soc">
                    <p class="social">
                        <a href="https://vk.com/vorobey162" target="_blank" class="vk-logo"><img src="../static/img/vk-icon.svg" alt="vk-icon" width="48px"></a>
                        <a href="https://t.me/Vorobeeeeey" target="_blank" class="tg-logo"><img src="../static/img/tg-icon.svg" alt="tg-icon" width="48px"></a>
                        <a href="maito:vorobeytvgame@gmail.com" class="gmail-logo"><img src="../static/img/gmail-icon.svg" alt="gmail-icon" height="48px"></a>
                    </p>
                </div>
            </nav>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-inner">
            hi
        </div>
    </footer>
</body>
</html>