<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
    <header class="header">
        <div class="header-top">
            <div class="search-and-logos">
                <div class="header-search">Search</div>
                <div class="header-logo">
                    <img src="../static/img/logo.png" alt="logo" height="45px">
                </div>
                <div class="header-logos">
                    <a href="https://vk.com" target="_blank"><img src="../static/img/vk-icon.png" alt="vk" width="25px"></a>
                    <a href="https://t.me/Vorobeeeeey" target="_blank"><img src="../static/img/tg-icon.png" alt="tg" width="25px"></a>
                    <a href="mailto:vorobeytvgame@gmail.com"><img src="../static/img/gmail-icon.png" alt="gmail" height="25px"></a>
                </div>
            </div>
        </div>
        <nav class="nav">
            <div class="nav-item">
                <a href="#"><div class="it-study-div">
                    <p class="it-study">
                        <span>IT STUDY</span>
                    </p>
                </div></a>
                <a href="#"><div class="ex-work-div">
                    <p class="ex-work">
                        <span>EX WORK</span>
                    </p>
                </div></a>
                <a href="#"><div class="examples-div">
                    <p class="examples">
                        <span>EXAMPLES</span>
                    </p>
                </div></a>
                <a href="#"><div class="about-me-div">
                    <p class="about-me">
                        <span>ABOUT ME</span>
                    </p>
                </div></a>
                <a href="#"><div class="contacts-div">
                    <p class="contacts">
                        <span>CONTACTS</span>
                    </p>
                </div></a>
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="main-container">
            <div class="container-left">
                <div class="blog1">
                    <a href="#">
                    <img src="../static/img/blog1.jpg" alt="blog1">
                    <div class="blog1-text-center">
                        Теплый летний день
                    </div>
                    </a>
                </div>
                <div class="blog2">
                    <a href="#">
                    <img src="../static/img/blog1.jpg" alt="blog2">
                    <div class="blog2-text-center">
                        Теплый летний день
                    </div>
                    </a>
                </div>
            </div> 
            <div class="container-right">
                <div class="blog3">
                    <a href="#">
                    <img src="../static/img/blog1.jpg" alt="blog3">
                    <div class="text-center">
                        Войти в ИТ
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        
    </footer>
</body>
</html>