<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class="body">
        <header class="header">
            <div class="header-container">
                <div class="header-top">
                    <div class="search-and-logos">
                        <div class="header-search">Search</div>
                        <div class="header-logo">
                            <img src="../../static/img/logo.png" alt="logo" height="45px">
                        </div>
                        <div class="header-logos">
                            <a href="https://vk.com" target="_blank"><img src="../../static/img/vk-icon.png" alt="vk" width="25px"></a>
                            <a href="https://t.me/Vorobeeeeey" target="_blank"><img src="../../static/img/tg-icon.png" alt="tg" width="25px"></a>
                            <a href="mailto:vorobeytvgame@gmail.com"><img src="../../static/img/gmail-icon.png" alt="gmail" height="25px"></a>
                        </div>
                    </div>
                </div>
            </div>
                <nav class="nav">
                    <div class="nav-container">
                        <div class="nav-item">
                            <a href="#"><div class="it-study-div">
                                <p class="it-study">
                                    <span>IT STUDY</span>
                                </p>
                            </div></a>
                            <a href="#"><div class="ex-work-div">
                                <p class="ex-work">
                                    <span>EX WORK</span>
                                </p>
                            </div></a>
                            <a href="#"><div class="examples-div">
                                <p class="examples">
                                    <span>EXAMPLES</span>
                                </p>
                            </div></a>
                            <a href="#"><div class="about-me-div">
                                <p class="about-me">
                                    <span>ABOUT ME</span>
                                </p>
                            </div></a>
                            <a href="#"><div class="contacts-div">
                                <p class="contacts">
                                    <span>CONTACTS</span>
                                </p>
                            </div></a>
                        </div>
                    </div>
                </nav>
        </header>

        <main class="main">
            <div class="main-container">
                <div class="main-content">
                    <div class="main-left-box">
                        <div class="left-up-box">
                            {% for i in blog2 %}
                            <div class="title-blog">
                                <img src="{{ i.photo.url }}" class="img-responsive" alt="">
                                <a href="#">
                                    {{ i.title }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="left-down-box">
                            {% for i in blog3 %}
                            <div class="title-blog">
                                <img src="{{ i.photo.url }}" class="img-responsive" alt="">
                                <a href="#">
                                    {{ i.title }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="right-box">
                        {% for i in blog1 %}
                        <div class="title-blog">
                            <img src="{{ i.photo.url }}" class="img-responsive-big" alt="">
                            <a href="#">
                                {{ i.title }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-container">
                <div class="footer-container-logo">
                    <div class="footer-logo">
                        <a href="https://vk.com" target="_blank"><img src="../../static/img/vk-icon.png" alt="vk" width="45px"></a>
                        <a href="https://t.me/Vorobeeeeey" target="_blank"><img src="../../static/img/tg-icon.png" alt="tg" width="45px"></a>
                        <a href="mailto:vorobeytvgame@gmail.com"><img src="../../static/img/gmail-icon.png" alt="gmail" height="45px"></a>
                    </div>
                </div>
                <div class="footer-text">
                    ®2022
                </div>
            </div>
        </footer>
    </div>
</body>
</html>