@font-face {
    font-family: 'Ubuntu', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}
body {
    margin: auto;
    width: 1200px;
}
.header-inner {
    margin-top: 100px;
}
.blog-logo {
    display: flex
}
.blog-logo h2 {
    margin-left: 15px;
    color: rgb(130, 127, 127);
    letter-spacing: 4px;
    font-size: 40px;
}
.header-foot {
    margin-top: 20px;
    font-size: 16px;
    padding-bottom: 60px;
}
main {
    margin-top: 50px;
}
.main-inner {
    display: flex;
}
.main-news {
    max-width: 800px;
    margin-right: 100px;
}
.news-title h2 {
    font-weight: normal;
    font-size: 30px;
}
.news-date {
    margin-top: 5px;
}
.news-publish-date {
    color: rgb(130, 127, 127);
}
.news-content {
    margin-top: 50px;
}
.content {
    margin-top: 15px;
    text-align: justify;
}
.main-nav {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.nav-search {
    padding: 10px 19px;
    border: 1px solid #eee;
}
#site-search {
    padding-top: 5px;
    border-color: #eee;;
}
.nav-soc {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 19px;
}
.vk-logo {
    float: left;
}
.tg-logo {
    margin-left: 12%;
}
.gmail-logo {
    float: right;
}
.footer-inner {
    margin-top: 100px;
}